@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -40px 0 0 -40px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #7d7d7d;
  width: 90px;
  height: 90px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

#navbar {
  position: fixed;
  font-size: 25px;
  width: 100%;
  height: 120px;
  line-height: 120px;
  padding: 0 18% 0 18%;
  z-index: 1;
  background-color: #0000007a;
  transition: 0.3s ease-in-out;
}

.navigation ul {
  display: grid;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  z-index: 15;
  padding: 0;
}

.navigation a {
  color: #F4F4F4;
  text-decoration: none;
  display: grid;
}

.navigation a:hover {
  background-color: rgba(55, 55, 55, 0.48);
}

.active {
  background-color: rgba(118, 118, 118, 0.6);
  font-weight: bold;
}

.background {
  background-image: url(./img/background.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  filter: blur(4px);
  position: absolute;
  width: 100%;
  height: 430vh;
  top: 0;
  left: 0;
}

#intro {
  display: none;
  font-family: 'Source Code Pro', monospace;
  position: absolute;
}

.name {
  color: white;
  text-shadow: 1px 1px 0 #00023e;
  font-size: 4rem;
  /*width: 100%;*/
  margin: 230px 190px 0;
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}

@keyframes animatebottom {
  from {
    left: -100px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.title {
  color: white;
  text-shadow: 1px 1px 0 #00023e;
  position: relative;
  margin: 37px 229px;
  animation-name: animatebottom;
  animation-duration: 3s;
  font-size: 1.5rem;
}

@keyframes animatebottom {
  from {
    left: -200px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.info-tiles {
  background: #fff;
  height: 95vh;
  width: 70%;
  position: absolute;
  margin-left: 15%;
  margin-right: 15%;
  padding: 6em;
  border-radius: 10px;
  font-family: 'Source Code Pro', monospace;
}

.about-me {
  top: 100vh;
}

.portfolio {
  top: 200vh;
}

.contact {
  top: 300vh;
}

.footer {
  text-align: center;
  background: rgba(0, 0, 0, 0.54);
  height: 116px;
  position: absolute;
  top: 2735px;
  width: 100%;
}

.copyright {
  font-size: 13px;
  color: white;
  text-shadow: 1px 1px 0 #00023e;
  padding: 50px;
}
