@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #7d7d7d;
  width: 90px;
  height: 90px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}

#navbar {
  position: fixed;
  font-size: 21px;
  width: 100%;
  height: 110px;
  line-height: 110px;
  padding: 0 18% 0 18%;
  z-index: 1;
  transition: 0.4s ease-in-out;
  display: none;
  background-color: rgba(255, 255, 255, 0.22);
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {
    top: -100px;
    opacity: 0
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.navigation ul {
  display: grid;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  padding: 0;
}

.navigation a {
  color: #ffffff;
  text-shadow: 1px 1px 3px #00023e;
  text-decoration: none;
  display: grid;
  text-transform: uppercase;
}

.navigation a:hover {
  background-color: rgba(255, 255, 255, 0.32);
  /*transition: 0.4s ease-in-out;*/
}

.active {
  background-color: rgba(118, 118, 118, 0.6);
  font-weight: bold;
}

.background {
  background-image: url(./img/background.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  filter: blur(4px);
  position: absolute;
  width: 100%;
  height: 430vh;
  top: 0;
  left: 0;
}

#intro {
  display: none;
  font-family: 'Source Code Pro', monospace;
  position: absolute;
}

.name {
  color: white;
  text-shadow: 2px 2px 0 #00023e;
  font-size: 4rem;
  margin: 230px 190px 0;
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1.5s;
}

/* Animate the name */
@keyframes animatebottom {
  from {
    left: -100px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.title {
  color: white;
  text-shadow: 2px 2px 0 #00023e;
  position: relative;
  margin: 37px 229px;
  animation-name: animatebottom;
  animation-duration: 3s;
  font-size: 1.5rem;
}

/* Animate the title */
@keyframes animatebottom {
  from {
    left: -200px;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1;
  }
}

/* General Tile Descriptions */
.tile {
  background: #fff;
  height: 92vh;
  width: 70%;
  position: absolute;
  margin-left: 14%;
  margin-right: 14%;
  border-radius: 10px;
}

.tile-header {
  padding: .5em 3em;
  color: #00000080;
  text-transform: uppercase;
  font-style: italic;
}


.tile-body {
  padding: 0 3em;
  font-size: 1.1em;
  line-height: 2em;
  text-indent: 1.5em;
}

/* Specific Tile Descriptions */

/* About*/
.about {
  top: 100vh;
}

.tile-headline {
  font-size: 1.6em;
  position: relative;
  padding: .3em 1em;
  color: #00023e;
  border-left: 6px solid #00023e;;
}

.portfolio {
  top: 200vh;
}

.projects {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin-left: 9%;
  margin-right: 9%;
  text-align: center;
  text-decoration: none;
  height: 60vh;
}

.showcase {
  height: 70%;
}

.showcase-description {
  background-color: floralwhite;
  height: 30%;
}

.temp-converter {
  background-color: darkblue;
}

.digital-clock {
  background-color: darkslategrey;
}

.weather-app {
  background-color: darkviolet;
}

.contact {
  top: 300vh;
}

.footer {
  text-align: center;
  background: rgba(0, 2, 30, 0.9);
  height: 116px;
  position: absolute;
  top: 2735px;
  width: 100%;
}

.copyright {
  font-size: 13px;
  color: white;
  text-shadow: 1px 1px 0 #00023e;
  padding: 50px;
}
