/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Saira+Extra+Condensed:wght@400;500;700&display=swap');

/* Vars */
:root {
  --primary-color: #3a3a3a;
  --secondary-color: #343a40;
  --third-color: #6d7c8b;
  --fourth-color: #e4eef5;
  --hover-color: white;
  --light-color: rgba(255, 255, 255, 0.5);
  --success-color: #d2ffd2;
  --transition: 0.4s;
  font-size: 16px;
}

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  line-height: 1.6;
  color: var(--third-color);
}

#main {
  overflow: hidden;
}

ul {
  list-style: none;
}

a {
  color: var(--light-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--hover-color);
  transition: color 0.3s ease;
}

h1,
h1 > *,
h2,
h3,
h4,
h4 > *,
h5 {
  text-transform: uppercase;
  font-family: 'Saira Extra Condensed', sans-serif;
}

h1,
h2 {
  margin-left: -2px;
}

h1,
h2,
h3 {
  font-weight: 700;
  color: var(--secondary-color);
}

h4,
h5 {
  color: var(--third-color);
  font-weight: 500;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.2rem;
}

span {
  color: var(--primary-color);
}

section {
  height: 100vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: var(--third-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

/* Animations */

@keyframes slideUp {
  0% {
    opacity: 0.2;
    transform: translateY(7px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0.2;
    transform: translateX(4rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes darken {
  0% {
    background: transparent;
  }
  100% {
    background: rgba(0, 0, 0, 0.2);
  }
}

/* Icon Styling */
.fa-2x {
  color: var(--third-color);
  padding: 0 1rem;
  transition: color 0.4s;
}

.fa-2x:hover {
  color: var(--primary-color);
  transition: color 0.4s;
}

.devicon {
  color: var(--secondary-color);
  font-size: 1.9rem;
  padding: 0.4rem;
  transition: color var(--transition);
}

.devicon-react-original:hover {
  color: #61dbfb;
}

.devicon-nextjs-original:hover {
  color: #000000;
}

.devicon-css3-plain:hover {
  color: #264de4;
}

.devicon-nodejs-plain:hover {
  color: #3c873a;
}

.devicon-heroku-original:hover {
  color: #6762a6;
}

.devicon-express-original:hover {
  color: #68a063;
}

.devicon-javascript-plain:hover {
  color: #f7df1e;
}

.devicon-typescript-plain:hover {
  color: #3178c6;
}

.devicon-mongodb-plain:hover {
  color: #3fa037;
}

.devicon-html5-plain:hover {
  color: #e34c26;
}

.devicon-sass-original:hover {
  color: #cd6799;
}

.devicon-less-plain-wordmark:hover {
  color: #1d365d;
}

.devicon-npm-original-wordmark:hover {
  color: #cc3534;
}

.devicon-bootstrap-plain:hover {
  color: #563d7c;
}

.devicon-wordpress-plain:hover {
  color: #00749c;
}

.devicon-git-plain:hover {
  color: #f1502f;
}

.devicon-jquery-plain:hover {
  color: #0868ac;
}

.devicon-firebase-plain:hover {
  color: #ffcb2b;
}

.devicon-github-original:hover {
  color: #24292f;
}

.devicon-php-plain:hover {
  color: #777bb3;
}

.education-icons {
  height: 2.5rem;
  width: 5rem;
  margin: 0 0.7rem;
  transition: all var(--transition) ease-in-out;
}

.truecoders {
  background: url('/src/assets/truecoders-faded.png') no-repeat center / contain;
}

.truecoders:hover {
  background-image: url('/src/assets/truecoders.png');
}

.udemy {
  background: url('/src/assets/udemy-faded.png') no-repeat center / contain;
}

.udemy:hover {
  background-image: url('/src/assets/udemy.png');
}

.icons-bottom {
  margin-top: auto;
  text-align: center;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.icons-bottom i {
  font-size: 2.5rem;
  color: var(--third-color);
  transition: color var(--transition);
  padding: 0.4rem;
  text-align: center;
}

.icons-bottom i p {
  font-size: 0.9rem;
  text-align: center;
  padding: 0.3rem;
}

/* Utilities */
.py-1 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.pt-1 {
  padding-top: 0.8rem;
}

.pb-1 {
  padding-bottom: 0.8rem;
}

.line {
  height: 1px;
  width: 12rem;
  background-color: var(--primary-color);
  margin: 1rem auto;
}

.list-item span {
  padding: 0 0.4rem 0;
}

.avatar {
  background: no-repeat center -5px / 107% url('assets/headshot2.png');
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 0px 5px var(--third-color);
  margin-bottom: 7px;
}

/* Sections */
#experience,
#skills,
#education,
#references {
  margin-bottom: 5rem;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  section {
    margin-left: 17rem;
    padding: 3rem;
  }
}

@media only screen and (min-width: 992px) {
  .line {
    display: none;
  }

  /* Sections */
  #experience,
  #skills,
  #education,
  #references {
    margin-bottom: unset;
  }
}
